<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.okawa.pedro.producthunt">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- APPLICATION (PRODUCT HUNT APP) -->

    <application
        android:name=".ProductHuntApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- LOADING ACTIVITY -->

        <activity
            android:name=".ui.loading.LoadingActivity"
            android:configChanges="orientation|screenSize"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- MAIN ACTIVITY -->

        <activity
            android:name=".ui.main.MainActivity"
            android:configChanges="orientation|screenSize"/>

        <!-- POST DETAILS ACTIVITY -->

        <activity android:name=".ui.post.PostDetailsActivity"
            android:configChanges="orientation|screenSize"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ba5c840c3dcb3f0734c1922eae67b9846f4e0ee6" />
    </application>

</manifest>
